/* =========================== Universal Selectors ===================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

body {
    background: #181818;
    font-family: 'Hind Siliguri', sans-serif;
    overflow-x: hidden;
}

.icon {
    width: 20px;
    filter: invert(100%);
    cursor: pointer;
}

/* =========================== Header Part ========================= */

header {
    display: flex;
    justify-content: space-between;
    background-color: #202020;
    height: 55px;
}

header .part {
    display: flex;
    justify-content: center;
    align-items: center;
}

header .part-1 img {
    margin-left: 25px;
}

#youtube-logo {
    filter: invert(0);
    width: 30px;
}

header .part-1 p {
    font-family: 'Oswald', sans-serif;
    font-size: 22px;
    color: white;
    transform: scaleX(.8);
    margin-left: -5px;
    cursor: pointer;
}

/* ====================================== */

header .part-2 {
    width: 600px;
}

header .part-2 input {
    border: none;
    outline: none;
    background: #121212;
    display: inline-block;
    width: 500px;
    height: 70%;
    border: 1px solid #303030;
    padding-left: 7px;
    font-size: 16px;
    color: white;
}

header .part-2 div {
    width: 60px;
    height: 70%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

header .part-2 .search {
    background: #313131;
}

header .part-2 .microphone {
    width: 40px;
    background: #181818;
    border-radius: 50%;
    margin-left: 5px;
    cursor: pointer;
}

/* =========================== */


header .part-3 {
    gap: 30px;
}

header .part-3 .icon {
    width: 23px;
}

#email-profile {
    width: 35px;
    border-radius: 50%;
    margin-right: 30px;
}


/* ================================= Main Part =================== */

main {
    display: flex;
    margin: 0;
    padding: 0;
}

aside {
    width: 250px;
    background: #202020;
    padding-right: 15px;
}

aside .menus {
    display: flex;
    height: 40px;
    align-items: center;
}

aside .menus:hover {
    background: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

#home {
    margin-top: 10px;
    background: rgba(255, 255, 255, 0.1);
}

aside .icon {
    margin: 0 25px;
}

aside .show-more {
    transform: rotate(90deg); 
    width: 15px; 
    margin: 0 27.5px;
}

aside .profiles {
    filter: invert(0);
    border-radius: 50%;
    width: 25px;
    margin: 0 25px;
}

aside li {
    list-style-type: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 500;
    white-space: nowrap;
    margin-right: 18px;
    overflow: hidden;
}

aside hr.line {
    border: none;
    border-top: 1px solid rgba(255, 255, 255, 0.192);
    margin: 12px 0;
}

aside h2 {
    color: #9b9b9b;
    font-family: 'Franklin Gothic Medium';
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    margin: 16px 0 12px 25px;
}

/* ============================================================ */

section {
    width: 87%;
    display: flex;
    flex-direction: column;
}

section .top-part {
    background: #202020;
    border-top: 1px solid #303030;
}

section .top-part ul {
    color: #FDF2FD;
    display: flex;
}

section .top-part ul li {
    background: #353535;
    border: 1px solid #454545;
    padding: 2px 15px;
    border-radius: 25px;
    margin: 10px 5px;
    white-space: nowrap;
    cursor: pointer;
}

section .top-part ul li:hover {
    background: #404040;
}

section .top-part ul li#all {
    background: #FDF2FD;
    color: #202020;
}

/* ====================== */

.body-part {
    display: grid;
    grid-template-columns: 22% 22% 22% 22%;
    justify-content: center;
    row-gap: 10px;
    column-gap: 15px;
    color: white;
    margin-top: 25px;
    cursor: pointer;
    width: 100%;
}

.body-part .videos .thumbnail {
    position: relative;
    width: 100%;
    height: 205px;
}

.body-part .videos .thumbnail img {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.body-part .videos .thumbnail span {
    background: #121212;
    padding: 0 6px;
    border-radius: 3px;
    font-size: 14px;
    position: absolute;
    bottom: 5px;
    right: 5px;
}

/* ============================= */

.body-part .videos .description {
    display: flex;
    margin: 10px 0 30px;
    align-items: flex-start;
}

.body-part .videos .description img {
    width: 10%;
    margin-right: 10px;
    border-radius: 25px;
}

.body-part .videos .description p {
    margin-bottom: 7px;
    font-size: 18px;
    line-height: 24px;
}

.body-part .videos .description .bottom {
    font-size: 16px;
    margin: 0;
    color: #aaa;
    line-height: 20px;
}