/* =========================== Universal Selectors ===================== */

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #181818;
    font-family: 'Hind Siliguri', sans-serif;
}

.icon {
    width: 20px;
    filter: invert(100%);
    cursor: pointer;
}

/* =========================== Header Part ========================= */

header {
    display: flex;
    justify-content: space-between;
    background-color: #202020;
    height: 55px;
}

header .part {
    display: flex;
    justify-content: center;
    align-items: center;
}

header .part-1 img {
    margin-left: 25px;
}

#youtube-logo {
    filter: invert(0);
    width: 30px;
}

header .part-1 p {
    font-family: 'Oswald', sans-serif;
    font-size: 22px;
    color: white;
    transform: scaleX(.8);
    width: 20px;
}

/* ====================================== */

header .part-2 {
    width: 35%;
}

header .part-2 input {
    border: none;
    outline: none;
    background: #121212;
    display: inline-block;
    width: 65%;
    height: 70%;
    border: 1px solid #303030;
    padding-left: 7px;
    font-size: 16px;
    color: white;
}

header .part-2 div {
    width: 9%;
    height: 70%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

header .part-2 .search {
    background: #313131;
}

header .part-2 .microphone {
    width: 6%;
    background: #181818;
    border-radius: 50%;
    margin-left: 5px;
}


/* =========================== */


header .part-3 {
    gap: 30px;
}

header .part-3 .icon {
    width: 23px;
}

#email-profile {
    width: 35px;
    border-radius: 50%;
    margin-right: 30px;
}


/* ================================= Main Part =================== */

main {
    display: flex;
}

aside {
    --sizes: 13%;
    width: var(--sizes);
    background: #202020;
    padding-right: 15px;
}

aside .menus {
    display: flex;
    height: 40px;
    align-items: center;
}

aside .menus:hover {
    background: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

#home {
    margin-top: 10px;
    background: rgba(255, 255, 255, 0.1);
}

aside .icon {
    margin: 0 25px;
}

aside li {
    list-style-type: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 500;
}

aside hr.line {
    border: none;
    border-top: 1px solid rgba(255, 255, 255, 0.192);
    margin: 12px 0;
}

#show-more {
    transform: rotate(90deg); 
    width: 15px; 
    margin: 0 27.5px;
}
section {
    width: calc(100% - var(--sizes));
    background-color: blue;
    height: 100vh;
}